{{ form_start(form) }}
<div>
    {{ form_label(form.name) }}
    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
    {{ form_errors(form.name) }}
</div>
<div>
    {{ form_label(form.price) }}
    {{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}
    {{ form_errors(form.price) }}
</div>
<div>
    {{ form_label(form.description) }}
    {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
    {{ form_errors(form.description) }}
</div>
<br>
<input type="submit" class="btn-action btn-success" value={{ buttonValue }} />
{{ form_end(form) }}