{% extends 'base.html.twig' %}

{% block body %}
    <h1> Produtos </h1>
    <hr>
    <ul>
        {% for p in products %}

            <li>
                <a href="{{ path('product_edit', { 'id': p.id }) }}">{{ p.id }}</a> -
                Nome: {{p.name}} -
                - Preço: R$ {{p.price|number_format(2, ',', '.')}}
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('product_new') }}">Create a new Product</a>
{% endblock %}
